body {
    margin: 0;
    font-size: 16px;
}

#head {
    grid-area: head;
}

#nav {
    grid-area: nav;
}

#main {
    grid-area: main;
}

.grid-container {
    display: grid;
    grid-template-areas: 'head head head head head head' 'nav main main main main main' 'nav main main main main main';
    grid-gap: 30px;
    padding: 10px;
}

.heading1 {
    text-align: center;
    margin: 0;
    font-family: "Times New Roman", Times, serif;
}

.heading1:hover {
    color: rgb(110, 110, 230);
    font-style: oblique;
}

#controls {
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.form {
    text-align: center;
}

button {
    background-color: #48BB78;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    background-color: lightslategray;
    color: black;
}