body {
    margin: 0;
    font-size: 16px;
    /*background-image: url(images/paperimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;*/
}


/* Grid layout */

#head {
    grid-area: head;
}

#nav {
    grid-area: nav;
    width: 250px;
}

#main {
    grid-area: main;
    width: 1000px;
}
.set .floatL{
    float: left;
}
.set .floatR{
    float: right;
}
.phys{
    float: center;
}


.grid-container {
    display: grid;
    grid-template-areas: 'head head ' 'nav main' 'nav main ';
    grid-gap: 30px;
    padding: 10px;
}

.heading1 {
    text-align: center;
    margin: 0;
    font-style: oblique;
    font-size: 20px;
}

.heading1:hover {
    color: #48BB78;
    font-style: oblique;
}

#controls {
    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.form {
    text-align: center;
}

button {
    background-color: #48BB78;
    color: white;
    border-radius: 5px;
    border: 0;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    background-color: lightslategray;
    color: black;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

th:hover {
    color: #48BB78;
    font-style: oblique;
}

th,
td {
    border: 3px solid lightslategray;
    padding: 8px;
}

#VirtualMemoryTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

#VirtualMemoryTable tr:nth-child(odd) {
    background-color: #fdfdfd;
}
#InstructionTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

#InstructionTable tr:nth-child(odd) {
    background-color: #fdfdfd;
}

#TLBTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

#TLBTable tr:nth-child(odd) {
    background-color: #fdfdfd;
}

#AddressTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

#AddressTable tr:nth-child(odd) {
    background-color: #fdfdfd;
}

#PhysicalMemoryTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

#PhysicalMemoryTable tr:nth-child(odd) {
    background-color: #fdfdfd;
}

#PageTable tr:nth-child(even) {
    background-color: #d4d4d4;
}

#PageTable tr:nth-child(odd) {
    background-color: #fdfdfd;
}